<% content_for :head do %>
  <META NAME="Description" CONTENT="<%= service.site_name %>. <%= service.description %>" />
<% end %>

<div id="contentMain" class="service-holder full">
	<div class="hr"><hr /></div>
  <div class="service-display mapable" data-lat="<%= service.lat %>" data-lng="<%= service.lng %>" data-directions="<%= service.google_maps_url %>" data-services="<%= service.services.join(",") %>">
      <% unless printing? %>
        <div class="form add-to-list">
          <span class="modify-site right">
            <%= button_to "Modify This Site", url(:services, :update, :id => service.id), :method => "get" %>
          </span>
          <span class="modify-site right">
            <%= link_to "Add Volunteer Opportunity", 
              url(:volunteer_opportunities, :new, :"volunteer_opportunity[service_id]" => service.id), :method => "get" %>
          </span>

          <span class="modify-site right">
            <%= link_to "Add Research Opportunity", 
              url(:research_opportunities, :new, :"research_opportunity[service_id]" => service.id), :method => "get" %>
          </span>

          <% if cart_items.include? service.id.to_s %>
            <span class="ui-state-default ui-corner-all added">Already in your list</span>
          <% else %>
            <div class="added-holder" style="display: none;"><span class="ui-state-active ui-corner-all added">Service added to your list</span></div>
            <form data-remote="true" action="/carts/add" method="post">
              <input type="hidden" value="<%= service.id.to_s %>" name="service"/>
              <button class="to_button save-to-list">Save to List</button>
            </form>
          <% end %>
        </div>
      <% else %>
        <div class="remove-from-list-holder">
          <button class="remove-from-list" service-id="<%= service.id.to_s %>" title="Remove this service from your list (this button won't appear when printing)">Remove from list</button>
        </div>
      <% end %>

    <h2 class='site-name'><%= service.site_name %></h2>

    <% if service.twitter %>
      <div id="tweets">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 5,
          interval: 30000,
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#4283b1',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#000000',
              links: '#4283b1'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('<%= service.twitter %>').start();
        </script>
      </div>
    <% end %>

      <% if service.description? %>  
        <div class="description">
          <%= service.description %>
        </div>
      <% end %>

      <% if service.address? %>
        <div class="address">
          <div><strong>Address:</strong></div>
          <div class="address-part"><%= service.address %></div>
          <div class="address-part"><%= service.city %> <%= service.state %> <%= service.zip %> 
            <% unless printing? %>
              - <span class="directions-url"><a href="<%= service.google_maps_url %>" target="_blank">Get Directions</a></span>
            <% end %>
          </div>
        </div>
      <% end %>
  

      <% if service.phone? %>
        <div class="phone"><em>Phone:</em> <%= service.phone %></div>
      <% end %>
  
      <% if service.website? %>
        <div class="website"><em>Website:</em> <a target="new" href="<%= service.website %>"><%= service.website %></a></div>
      <% end %>

      <% if service.facebook? %>
        <div class="website"><em>Facebook:</em> <a target="new" href="<%= service.facebook %>"><%= service.facebook %></a></div>
      <% end %>
  
      <% if service.services? %>
        <div class="primary-service selected">
          <div><em>Services Provided:</em></div>
          <% service.services.each do |s| %>
            <p class='single-service'>
            <span class="ui-widget-header ui-corner-all">
              <%= link_to s.capitalize, "/list_type?type=#{s}", :title => "Show All #{s.capitalize}" %>
            </span>
            </p>
          <% end %>
        </div>
      <% end %>
  
      <% if service.hours? %>
        <div><em>Hours:</em> <%= service.hours %></div>
      <% end %>

      <% if service.quadrant? %>
        <div><em>Quadrant:</em> <%= service.quadrant %></div>
      <% end %>

      <% if service.transportation? %>
        <div><em>Transportation:</em> <%= service.transportation %></div>
      <% end %>
  
      <% if service.restrictions? %>
        <div class="restrictions"><em>Restrictions:</em> <%= service.restrictions %></div>
      <% end %>

      <% if service.volunteer_opportunities.active.to_a.length > 0 %>
        <h3>Volunteer Opportunities</h3>
        <ul class="volunteer_opportunities">
          <% service.volunteer_opportunities.active.each do |v| %>
            <li><%= link_to v.title, url(:volunteer_opportunities, :show, :id => v.id) %></li>
          <% end %>
        </ul>
      <% end %>

      <% if service.research_opportunities.active.to_a.length > 0 %>
        <h3>Research Opportunities</h3>
        <ul class="volunteer_opportunities">
          <% service.research_opportunities.active.each do |v| %>
            <li><%= link_to v.title, url(:research_opportunities, :show, :id => v.id) %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        Service Last Updated: <%= service.updated_at.strftime "%m/%d/%Y" %>
      </div>

      <% if service.lat && service.lng && !printing? %>
        <div class="map" data-method="map" data-lat="<%= service.lat %>" data-lng="<%= service.lng %>" data-zoom="16"></div>
      <% end %>
  
    </div>
</div>
