<div id="contentMain" class="full">
	<div class="hr"><hr /></div>
    <div class="service-display mapable" data-lat="<%= service.lat %>" data-lng="<%= service.lng %>">
    <h2 class='site-name'><%= service.site_name %></h2>
      <% if service.description? %>  
        <div class="description">
          <%= service.description %>
        </div>
      <% end %>

      <%# button_to "save", url(:carts, :add, :service => service.id), :method => :post, :class => :button_to, :remote => true %>

      <% if service.address? %>
      <div class="address">
        <div><%= service.address %></div>
        <div><%= service.city %> <%= service.state %> <%= service.zip %> - <span class="directions-url"><a href="<%= service.google_maps_url %>" target="_blank">Get Directions</a></span></div>
      </div>
      <% end %>
  
      <% if service.phone? %>
        <div class"phone"><em>Phone:</em> <%= service.phone %></div>
      <% end %>
  
      <% if service.website? %>
        <div class="website"><em>Website:</em> <%= service.website %></div>
      <% end %>
  
      <% if service.primary_service? %>
        <div class="primary-service">
          <em>Primary Service:</em> <%= service.primary_service %>
        </div>
      <% end %>
  
      <% if service.secondary_service? %>
        <div class="secondary-service">
          <em>Secondary Service:</em> <%= service.secondary_service %>
        </div>
      <% end %>
  
      <% if service.hours? %>
        <div><em>Hours:</em> <%= service.hours %></div>
      <% end %>

      <% if service.transportation? %>
        <div><em>Transportation:</em> <%= service.transportation %></div>
      <% end %>

  
      <% if service.restrictions? %>
        <div class="restrictions"><em>Restrictions:</em> <%= service.restrictions %></div>
      <% end %>

      <% if service.lat && service.lng %>
        <div class="map" data-method="map" data-lat="<%= service.lat %>" data-lng="<%= service.lng %>" data-zoom="16"></div>
      <% end %>
  
    </div>
</div>