<li data-lat="<%= site.lat %>" data-lng="<%= site.lng %>" class="mapable site" index="<%= site_counter %>">
      <img class="left marker" src="http://maps.google.com/mapfiles/marker<%= ("A".."Z").to_a[site_counter-1] %>.png"/>
  <div class="result left">

    <div class="site-name">

      <%= link_to site.site_name, url(:services, :show, :id => site.id) %></div>
    <div class="address">
      <div class="street"><%= site.address %></div>
      <div class="city-state"><%= site.city %> <%= site.state %> <%= site.zip %></div>
    </div>
    <div class="primary-service">
      <em>Primary Service: </em><%= site.primary_service %>
    </div>
  </div>
  <div class="clear"></div>
</li>