<div class="group">
  <%= f.label :site_name %><%= f.error_message_on :site_name %>
  <%= f.text_field :site_name, :class => :text_field %>
</div>
  <% @service_types ||= Service.service_types.unshift('').push("Other") %>
<div class="group">
  <%= f.label :primary_service %><%= f.error_message_on :primary_service %>
  <%= f.select :primary_service, :class => :select_field, :options => @service_types %>
  <div class="select-other hide">
    <%= f.text_field :primary_service, :class => :text_field, :disabled => true %>
  </div>
</div>

<div class="group">
  <%= f.label :secondary_service %><%= f.error_message_on :secondary_service %>
  <%= f.select :secondary_service, :class => :select_field, :options => @service_types %>
  <div class="select-other hide">
    <%= f.text_field :secondary_service, :class => :text_field, :disabled => true %>
  </div>
</div>

<div class="group">
  <%= f.label :description %><%= f.error_message_on :description %>
  <div>
    <%= f.text_area :description, :class => :text_field, :rows => 5, :cols => 100 %>    
  </div>
</div>

<div class="group">
  <%= f.label :address %><%= f.error_message_on :address %>
  <%= f.text_field :address, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :city %><%= f.error_message_on :city %>
  <%= f.text_field :city, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :state %><%= f.error_message_on :state %>
  <%= f.text_field :state, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :zip %><%= f.error_message_on :zip %>
  <%= f.text_field :zip, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :quadrant %><%= f.error_message_on :quadrant %>
  <%= f.select :quadrant, :options =>["", "NE", "NW", "SE", "SW"], :class => :text_field %>
</div>

<div class="group">
  <%= f.label :transportation %><%= f.error_message_on :transportation %>
  <%= f.text_field :transportation, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :website %><%= f.error_message_on :website %>
  <%= f.text_field :website, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :phone %><%= f.error_message_on :phone %>
  <%= f.text_field :phone, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :hours %><%= f.error_message_on :hours %>
  <%= f.text_field :hours, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :restrictions %><%= f.error_message_on :restrictions %>
  <%= f.text_field :restrictions, :class => :text_field %>
</div>

<div class="group">
  <%= f.label :status %><%= f.error_message_on :status %>
  <%= f.select :status, :class => :select_field, :options => ["active", "pending"] %>
</div>


<%= f.hidden_field :lat %>
<%= f.hidden_field :lng %>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:services, :index)}';return false", :class => :button %>
</div>