<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:services, :index) %></li>
      <li><%= link_to pat(:new), url(:services, :new) %></li>
      <li><%= link_to "Pending", url(:services, :pending) %></li>      
      <li class="active"><%= link_to pat(:edit), url(:services, :edit, :id => @service.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:service) %></h2>
    <div class="inner">
      <% form_for :service, url(:services, :update, :id => @service.id), :method => :put, :class => :form do |f| %>
        <%= partial "services/form", :locals => { :f => f } %>
      <% end %>
      <div>
        <% if @service.lat && @service.lng %>
          <div class="mapable" data-lat="<%= @service.lat %>" 
            data-lng="<%= @service.lng %>" 
            data-zoom="16" 
            data-directions="<%= @service.google_maps_url %>" 
            data-services="<%= @service.services.join(",") %>">
            <span style="display: none;" class="site-name"><%= @service.site_name %></span>
            <div class="map" data-method="map" ></div>
          </div>
          
        <% end %>
      </div>
      
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>
