<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first <% if list_title == "All Services" %> active <% end %>"><%= link_to "List", url(:services, :index) %></li>
      <li><%= link_to "New", url(:services, :new) %></li>
      <% pending_count = Service.pending.count %>
      <% updated_count = Service.updated.count %>
      
      <li <% if list_title == "Pending Services" %> active <% end %>><%= link_to "Pending (#{pending_count})", url(:services, :pending) %></li>
      <li <% if list_title == "Updated Services" %> active <% end %>><%= link_to "Updated (#{updated_count})", url(:services, :updated) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title left"><%= list_title %>  
      <span class="page-status">
        page <%= @current_page %> of <%= @total_pages %> <%=", Matching <em>#{@query.gsub(Service::PUNCTUATION, "").downcase.split.uniq.join(", ")}</em>" if @query %>
      </span>
    </h2>
    <div class="right admin-search">
      <form action="<%= url(:services, :search) %>">
        <input size="40" value="" title="Search" name="q" maxlength="2048"  autocomplete="off">    
        <input type="submit" name="submit" value="search" id="submit">
      </form>      
    </div>
    <div class="clear"></div>
    <%= render "services/paginate", :layout => false %>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">Site Name</th>
          <th>Service Types</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @services.each_with_index do |service, index| %>
        <tr>
          <td class="first"><%= service.site_name %></td>
          <td>
            <% service.services.each do |type| %>
              <%= type %> 
              (<%= link_to "show", "#{url(:services, :type)}?service=#{type}" %>)
            <% end %>
          </td>
          <td class="last">
            <%= button_to pat(:edit), url(:services, :edit, :id => service.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:services, :destroy, :id => service.id), :method => :delete, :class => :button_to, :confirm => true %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <%= render "services/paginate", :layout => false %>    
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
