<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:services, :index) %></li>
      <li><%= link_to pat(:new), url(:services, :new) %></li>
      <li><%= link_to "Pending", url(:services, :pending) %></li>      
    </ul>
  </div>
  <div class="content">
    <h2 class="title left">All Services 
      <span class="page-status">
        page <%= @current_page %> of <%= @total_pages %> <%=", Matching <em>#{@query.gsub(Service::PUNCTUATION, "").downcase.split.uniq.join(", ")}</em>" if @query %>
      </span>
    </h2>
    <div class="right admin-search">
      <form action="<%= url(:services, :search) %>">
        <input size="40" value="" title="Search" name="q" maxlength="2048"  autocomplete="off">    
        <input type="submit" name="submit" value="search" id="submit">
      </form>      
    </div>
    <div class="clear"></div>
    <%= render "services/paginate", :layout => false %>    
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:service, :site_name) %></th>
          <th><%= mat(:service, :primary_service) %></th>
          <th><%= mat(:service, :secondary_service) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @services.each_with_index do |service, index| %>
        <tr>
          <td class="first"><%= service.site_name %></td>
          <td><%= service.primary_service.capitalize unless service.primary_service.nil? %> 
            <% if service.primary_service %>
              (<%= link_to "show all", "#{url(:services, :type)}?service=#{service.primary_service}" %>)
            <% end %>
          </td>          
          <td><%= service.secondary_service.capitalize unless service.secondary_service.nil? %> 
            <% if service.secondary_service %>
              (<%= link_to "show all", "#{url(:services, :type)}?service=#{service.secondary_service}" %>)
            <% end %>
          </td>
          <td class="last">
            <%= button_to pat(:edit), url(:services, :edit, :id => service.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:services, :destroy, :id => service.id), :method => :delete, :class => :button_to, :confirm => true %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <%= render "services/paginate", :layout => false %>    
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>