<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:services, :index) %></li>
      <li class="active"><%= link_to pat(:new), url(:services, :new) %></li>
      <% pending_count = Service.pending.count %>
      <li><%= link_to "Pending (#{pending_count})", url(:services, :pending) %></li>      
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:new) %> <% mt(:service) %></h2>
    <div class="inner">
      <% form_for :service, url(:services, :create), :class => :form do |f| %>
        <% @service_types ||= Service.service_types.unshift('').push("Other") %>
        <% content_for :head  do %>
          <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/start/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
          <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
        <% end %>
        <div class="group" id="autocompleting-selector">
          <input type="text" value="" class="autocomplete-selector left" size="50" />
          <span class="ui-state-default ui-corner-all left ui-icon-container">
            <span class="ui-icon ui-icon-circle-triangle-s show-all-services" title='Show all service types'></span>
          </span>
          <button class="add">Add</button>
          <div class="selected" style="margin-top: 10px;">
            <% @service.services.each do |service| %>
              <p class='single-service' data-service="<%= service %>">
                <span class="ui-widget-header ui-corner-all"><%= service %>
                  <span class="ui-icon ui-icon-circle-close remove-service"></span>
                </span>
                <input type='hidden' name='service[services][]' value="<%= service %>" />
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
