<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:services, :index) %></li>
      <li class="active"><%= link_to pat(:new), url(:services, :new) %></li>
      <li><%= link_to "Pending", url(:services, :pending) %></li>      
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:new) %> <% mt(:service) %></h2>
    <div class="inner">
      <% form_for :service, url(:services, :create), :class => :form do |f| %>
        <div class="group">
          <% @service_types ||= Service.service_types.unshift('').push("Other") %>
          <%= f.label :primary_service %><%= f.error_message_on :primary_service %>
          <%= f.select :primary_service, :class => :select_field, :options => @service_types %>
          <div class="select-other hide">
            <%= f.text_field :primary_service, :class => :text_field, :disabled => true %>
          </div>
          <% content_for :head  do %>
            <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/start/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">    
            <!-- JavaScript -->
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.js" type="text/javascript" charset="utf-8"></script>          
          <% end %>
        </div>
        <div class="group">          
          <input type="text" value="" class="autocomplete-selector" size="50" />
          <div class="selected" style="margin-top: 10px;"></div>
          
        </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>