<div class="block">

	<%= partial "research_opportunities/head" %>
  <div class="content">
    <h2 class="title left">Pending Volunteer Opportunities</h2>
    <div class="clear"></div>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">Title</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @research_opportunities.each_with_index do |v, index| %>
        <tr>
          <td class="first"><%= v.title %></td>
          <td class="last">
            <%= button_to "accept", url(:research_opportunities, :activate, :id => v.id), :method => :post, :class => :button_to %> |            
            <%= button_to pat(:edit), url(:research_opportunities, :edit, :id => v.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:research_opportunities, :destroy, :id => v.id), :method => :delete, :class => :button_to, :confirm => true %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
