<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The BRIDGE Project Admin</title>
  <%= stylesheet_link_tag :base, "themes/default/style" %>

  <link rel="stylesheet" href="/master.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%= link_to "The BRIDGE Project Admin", url(:base_index) %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id) %></li>
          <li><%= link_to pat(:logout), url(:sessions, :destroy), :method => :delete %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <% project_modules.each do |project_module| %>
            <li class="<%= "active" if request.path_info =~ /^#{project_module.path}/ %>"><%= link_to project_module.human_name, project_module.path("/admin") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> The BRIDGE PRoject DC</a></p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield_content :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
