<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
    	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>The BRIDGE Project DC</title>
        <!-- <link rel="stylesheet" href="/admin/stylesheets/base.css" type="text/css" media="screen" title="no title" charset="utf-8"> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" media="screen" />
    	  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />        
        <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" /> -->
        <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen" />  
        <link rel="stylesheet" type="text/css" href="/css/topHat.css" media="screen" />           
        <link rel="stylesheet" type="text/css" href="/css/modules.css" media="screen" />
        <!-- <link rel="stylesheet" type="text/css" href="/css/selectbox.css" media="screen" /> -->
         <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
        <!-- // <script src="/javascripts/inject.js" type="text/javascript" charset="utf-8"></script> -->

        
        <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
     	  <%= yield_content :head %>
	</head>
	<body>
		<div id="container">        	
			<div id="header">			
				<div id="topHat">
					<div id="logo">
						<a href="http://www.gwu.edu">The George Washington University | Washington DC</a>
					</div>
					<div id="mainMenu">
					</div>

				</div>				
			</div>
			<div id="contentWrapperShadow">
				<div id="contentWrapper">	


<!-- /END: ModuleH1-2 (Small) -->

					<div class="clear"></div>

					<div id="contentColumns">
					  <div class="flash">
              <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
            </div>
            <div>
              <div class="left">
                <a href="/"><img src="/images/logo-small.jpg" width="80" alt="Logo Full"></a>
              </div>
              <div id="header-title">
                <a href="/"><h2>The BRIDGE Project DC</h2></a>
                <div class="sub-title">DC Social Service Research Guide</div>
              </div>
              <div class="search">
                <form action="/search" method="post" accept-charset="utf-8">
                  <%= render "base/_search_bar", :layout=> false %>  
                </form>  
              </div>
              
            </div>
					  <%= yield_content :sidebar %>
					  
              <%= yield %>
              
						<div class="clear"></div>
					</div>
				
				</div>
				<div id="footer">
					<div class="hr"><hr /></div>
					<div id="footerParentMenu">
						<div class="footer940">
							<h2><a href="#">The George Washington University</a></h2>
							<ul>
								<li class="first"><a href="http://www.gwu.edu">GW Home</a></li>
								<li><a href="http://www.campusadvisories.gwu.edu/">Campus Advisories</a></li>
								<li><a href="http://www.gwu.edu/legal/copyright">Copyright</a></li>
								<li><a href="http://www.gwu.edu/legal/privacypolicy">Privacy Policy</a></li>
								<li><a href="http://www.gwu.edu/legal/termsofuse">Terms of Use</a></li>
								<li><a href="http://www.gwu.edu/contact.cfm">Contact GW</a></li>
								<li><a href="http://www.gwu.edu/azindex">A - Z Index</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	    
	</body>
</html>