<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
    	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>The BRIDGE Project DC</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" media="screen" />
    	  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />        
        <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen" />  
        <link rel="stylesheet" type="text/css" href="/css/topHat.css" media="screen" />           
        <link rel="stylesheet" type="text/css" href="/css/modules.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/selectbox.css" media="screen" />
         <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
        <!-- // <script src="/javascripts/inject.js" type="text/javascript" charset="utf-8"></script> -->
        <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
     	  <%= yield_content :head %>
	</head>
	<body>
		<div id="container">        	
			<div id="header">			
				<div id="topHat">
					<div id="logo">
						<a href="#">The George Washington University | Washington DC</a>
					</div>
					<div id="mainMenu">
						<ul class="parent">
							<li class="first"><a href="#">GW Home</a></li>
							<li>
								<a class="parent secondaryMenuOne">GW Links</a>
								<ul class="child">
									<li>
										<a href="#">Explore</a>
										<ul class="grandChild">
											<li class="first"><a href="#">About GW</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Apply</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Undergraduate Admissions</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>	
									</li>
									<li>
										<a href="#">Learn</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Colleges &amp; Schools</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>	
									</li>
									<li>
										<a href="#">Discover</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Discoveries &amp; Innovations</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>	
									</li>
									<li>
										<a href="#">Connect</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Alumni</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Give</a>
										<ul class="grandChild">
											<li class="first"><a href="#">The Power of Giving</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>
									</li>
									<li class="close"><a>Close</a></li>
								</ul>
							</li>
							<li>
								<a class="parent secondaryMenuTwo">Info For</a>
								<ul class="child secondaryMenuTwo">
									<li class="students">
										<a href="#">Students</a>
										<ul class="grandChild">
											<li class="first parted1"><a href="#">GWMail</a></li>
											<li class="parted2"><a href="#">Blackboard</a></li>
											<li class="parted3"><a href="#">GWeb (Records &amp; Registration)</a></li>
											<li class="parted4"><a href="#">GWired (Student Services)</a></li>
											<li class="parted5"><a href="#">myGW Portal</a></li>
											<li class="parted6"><a href="#">Colonial Central (Financial Services)</a></li>
											<li class="parted7"><a href="#">GWorld Card and Colonial Cash</a></li>
											<li class="parted8"><a href="#">GW Bulletin (Course Descriptions)</a></li>
											<li class="parted9"><a href="#">University Libraries</a></li>
											<li class="parted10"><a href="#">GW Bookstore</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Alumni</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Undergraduate Admissions</a></li>
											<li><a href="#">Connect &amp; Share</a></li>
											<li><a href="#">Benefits &amp; Services</a></li>
											<li><a href="#">Programs &amp; Events</a></li>
											<li><a href="#">Volunteer &amp; Give</a></li>
											<li><a href="#">Transcript Services</a></li>
										</ul>	
									</li>
									<li>
										<a href="#">Faculty and Staff</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Colleges &amp; Schools</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>	
									</li>
									<li>
										<a href="#">Parents</a>
										<ul class="grandChild">
											<li class="first"><a href="#">Discoveries &amp; Innovations</a></li>
											<li><a href="#">Academic Life</a></li>
											<li><a href="#">Campus Life</a></li>
											<li><a href="#">GW Athletics</a></li>
											<li><a href="#">Media Room</a></li>
											<li><a href="#">Visiting Campus</a></li>
											<li><a href="#">GW Today</a></li>
										</ul>	
									</li>	
									<li class="close"><a>Close</a></li>								
								</ul>
							</li>
						</ul>
					</div>
					<div id="search">
						<form method="post" action="#">
							<fieldset>
								<div class="inputHolder">	
									<label for="searchInput">Search String:</label>
									<input id="searchInput" type="text" value="SEARCH" />									
									<div class="selectHolder">
										<label for="myselectbox">Select Site to Search:</label>
										<select id="myselectbox" name="myselectbox" tabindex="2">
											<option value="1">CCAS</option>
											<option value="2" selected="selected">GW</option>
											<option value="3">Law</option>
										</select>
									</div>
								</div>
								<button type="submit" class="pointer">go</button>
							</fieldset>
						</form>
					</div>
				</div>				
			</div>
			<div id="contentWrapperShadow">
				<div id="contentWrapper">	


<!-- /END: ModuleH1-2 (Small) -->

					<div class="clear"></div>

					<div id="contentColumns">
					  <div class="flash">
              <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
            </div>
            <div>
              <div class="left">
                <a href="/"><img src="/images/logo-small.jpg" width="80" alt="Logo Full"></a>
              </div>
              <div id="header-title">
                <a href="/"><h2>The BRIDGE Project DC</h2></a>
              </div>
              <div class="search">
                <form action="/search" method="post" accept-charset="utf-8">
                  <%= render "base/_search_bar", :layout=> false %>  
                </form>  
              </div>
              
            </div>
					  <%= yield_content :sidebar %>
					  
              <%= yield %>
              
						<div class="clear"></div>
					</div>
				
				</div>
				<div id="footer">
					<div class="hr"><hr /></div>
					<div id="footerParentMenu">
						<div class="footer940">
							<h2><a href="#">The George Washington University</a></h2>
							<ul>
								<li class="first"><a href="#">GW Home</a></li>
								<li><a href="#">Campus Advisories</a></li>
								<li><a href="#">Copyright</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Contact GW</a></li>
								<li><a href="#">A - Z Index</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	    
	</body>
</html>